################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebDzivniekuPatversme/WebDzivniekuPatversme/bin/Debug/netcoreapp3.1
/WebDzivniekuPatversme/WebDzivniekuPatversme/obj
/WebDzivniekuPatversme/.vs/WebDzivniekuPatversme
