@{
    ViewData["Title"] = "Sākums";
}

<div class="text-center">
    <h1 class="display-4">Sveiki!</h1>
    <p>Dzivnieku patversmes mājaslapa! <a href="https://pbs.twimg.com/media/ErLbqbzVcAAECWh?format=jpg&name=large">Dzivnieki!</a>.</p>
</div>