@{
    ViewData["Title"] = "Dzivnieki";
}

<div class="text-center">
    <h1 class="display-4">Dzivnieki</h1>
    <h2 class="display-3">Filtri dzivnieku izvelei</h2>
    <p>Saraksts ar Dzīvniekiem</p>
</div>