@model WebDzivniekuPatversme.Models.ViewModels.AnimalsViewModel

@{
    ViewData["Title"] = "Labot dzīvnieku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Labot</h1>

<h4>Dzīvnieku</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(model => model.AnimalID)
            </div>
            <div class="form-group">
                <label class="control-label">Vārds</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Vecums</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Dzimšanas datums</label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Suga</label>
                <input asp-for="Species" class="form-control" />
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Krāsa</label>
                <input asp-for="Colour" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Apraksts</label>
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Svars</label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pievienošanas datums</label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(
                    x => x.AnimalShelterId,
                    new SelectList(Model.AnimalShelters, "AnimalShelterID", "Name", Model.AnimalShelterId),
                    "-- Izvēlies --",
                    new
                         {
                            @id = "shelter",
                            @class = "form-control"
                        }
               )
                @Html.ValidationMessageFor(x => x.AnimalShelterId)
            </div>
            <div class="form-group">
                <input type="submit" value="Saglabāt" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Atpakaļ uz sarakstu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}