@model WebDzivniekuPatversme.Models.ViewModels.Animal.AnimalEditViewModel

@{
    ViewData["Title"] = "Labot dzīvnieku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Labot @Model.Name</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(model => model.Id)
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select class="form-control" asp-for="Gender">
                    <option value="Vīrietis">Vīrietis</option>
                    <option value="Sieviete">Sieviete</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.AnimalSpecies != null)
                {
                    <label asp-for="Species" class="control-label"></label>
                    <select class="form-control" asp-for="Species" asp-items="Model.AnimalSpecies
                            .GroupBy(t => t.Name)
                            .Select(g => g.First())
                            .Select(x => new SelectListItem {
                                Text = x.Name,
                                Value = x.Name,
                                Selected = (x.Name == Model.Species ? true : false),
                            })
                            .OrderBy(x => x.Text)">
                    </select>
                    <span asp-validation-for="Species" class="text-danger"></span>
                }
            </div>
            <div class="form-group">
                @if (Model.AnimalSpeciesTypes != null)
                {
                    <label asp-for="SpeciesType" class="control-label"></label>
                    <select class="form-control" asp-for="SpeciesType" asp-items="Model.AnimalSpeciesTypes
                            .Where(x => x.SpeciesId == Model.AnimalSpecies.FirstOrDefault().Id)
                            .GroupBy(t => t.Name)
                            .Select(g => g.First())
                            .Select(x => new SelectListItem {
                                Text = x.Name,
                                Value = x.Name,
                            })
                            .OrderBy(x => x.Text)">
                    </select>
                    <span asp-validation-for="SpeciesType" class="text-danger"></span>
                }
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.AnimalColours != null)
                {
                    <label asp-for="Colour" class="control-label"></label>
                    <select class="form-control" asp-for="Colour" asp-items="Model.AnimalColours
                            .GroupBy(t => t.Name)
                            .Select(g => g.First())
                            .Select(x => new SelectListItem {
                                Text = x.Name,
                                Value = x.Name,
                            })
                            .OrderBy(x => x.Text)">
                    </select>
                    <span asp-validation-for="Colour" class="text-danger"></span>
                }
            </div>
            <div class="form-group">
                @if (Model.AnimalColours != null)
                {
                    <label asp-for="SecondaryColour" class="control-label"></label>
                    <select class="form-control" asp-for="SecondaryColour" asp-items="Model.AnimalColours
                            .GroupBy(t => t.Name)
                            .Select(g => g.First())
                            .Select(x => new SelectListItem {
                                Text = x.Name,
                                Value = x.Name,
                            })
                            .OrderBy(x => x.Text)">
                    </select>
                    <span asp-validation-for="SecondaryColour" class="text-danger"></span>
                }
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <textarea asp-for="About"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="col-sm-9">
                <img src="~/uploads/images/animals/@Model.ImagePath" alt="@Model.Name bilde" onerror="this.onerror = null;this.src = '/uploads/images/animals/defaultanimal.png'" asp-append-version="true"
                     class="rounded-circle"
                     height="200"
                     width="200"
                     style="
                        object-fit: cover;
                        box-shadow: 0px 0px 20px #888;
                        left: 100%;
                        padding: 6px;" />
            </div>
            <div class="form-group">
                @if (Model.AnimalShelters != null)
                {
                    <label asp-for="ShelterName" class="control-label"></label>
                    <select class="form-control" asp-for="ShelterId" asp-items="Model.AnimalShelters
                        .GroupBy(t => t.Name)
                        .Select(g => g.First())
                        .Select(x => new SelectListItem {
                            Text = x.Name,
                            Value = x.Id,
                        })
                        .OrderBy(x => x.Text)">
                    </select>
                    <span asp-validation-for="ShelterName" class="text-danger"></span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Saglabāt" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Atpakaļ uz sarakstu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        tinymce.init({
            selector: 'textarea',
            width: "100%",
            height: "300",
            content_css: 'writer',
        });
    </script>
}