@model WebDzivniekuPatversme.Models.ViewModels.News.NewsEditViewModel

@{
    ViewData["Title"] = "Labot ziņu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Labot @Model.Title</h1>

<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            @Html.HiddenFor(model => model.Id)
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div style="padding: 1%">
        <div class="form-group">
            <label asp-for="Text" class="control-label"></label>
            <textarea asp-for="Text"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="control-label"></label>
            <input asp-for="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div>
            <img src="~/uploads/images/news/@Model.ImagePath" alt="@Model.Title bilde" onerror="this.onerror = null;this.src = '/uploads/images/news/defaultnews.png'" asp-append-version="true"
                 class="rounded-circle"
                 height="200"
                 width="200"
                 style="
                        object-fit: cover;
                        box-shadow: 0px 0px 20px #888;
                        left: 100%;
                        padding: 6px;" />
        </div>
        <div class="form-group">
            <input type="submit" value="Saglabāt" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Atpakaļ uz sarakstu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        tinymce.init({
            selector: 'textarea',
            width: "100%",
            height: "650",
            content_css: 'writer',
        });
    </script>
}