@page
@model Disable2faModel
@{
    ViewData["Title"] = "Atslēgt divu-soļu autentifikāciju";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Šī darbība tikai atslēdz Divu-Soļu Autentifikāciju.</strong>
    </p>
    <p>
        Divu-Soļu Autentifikācijas atslēgšana nemainīs autentifikācijas aplikācijas izmantoto atslēgu. Ja vēlaties nomainīt 
        atslēgu, kas izmantota Autenitifikācijas aplikācijā <a asp-page="./ResetAuthenticator">atjaunojiet savu autentifikācijas atslēgu.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Atslēgt Divu-Soļu Autentifikāciju</button>
    </form>
</div>