@page
@model EditAnimalCreationModel
@{
    ViewData["Title"] = "Lietotāju pārvalde";
    ViewData["ActivePage"] = ManageNavPages.EditAnimalCreation;
}

@if (ViewContext.HttpContext.User.IsInRole("administrator"))
{
    <h4>@ViewData["Title"]</h4>

    <form method="post" style="padding: 1%" asp-page-handler="UpdateSpecies">
        <div class="row">
            <div id="dataListItem" class="col-md-4">
                <label class="control-label">Krāsa</label>
                <select name="colourId" class="form-control" asp-items="(Model
                    .Colours
                    .GroupBy(t => t.Name)
                    .Select(g => g.First())
                    .Select(x => new SelectListItem {
                        Text = x.Name,
                        Value = x.Id,
                    })
                    .OrderBy(x => x.Text)
                    .AsEnumerable())">
                </select>
                <div style="padding-top: 1%; float: right">
                    <button id="delete-user-button" type="submit" asp-page-handler="DeleteColour" value="@ViewData["SpeciesId"]" class="btn btn-danger">Dzēst krāsu</button>
                </div>
            </div>
            <div id="dataListItem" class="col-md-4">
                <label class="control-label">Suga</label>
                <select name="speciesId" class="form-control" onchange="this.form.submit();" asp-items="(Model
                    .Species
                    .GroupBy(t => t.Name)
                    .Select(g => g.First())
                    .Select(x => new SelectListItem {
                        Text = x.Name,
                        Value = x.Id,
                        Selected = (x.Id == @ViewData["SpeciesId"]?.ToString() ? true : false),
                    })
                    .OrderBy(x => x.Text)
                    .AsEnumerable())">
                </select>
                <div style="padding-top: 1%; float: right">
                    <button id="delete-user-button" type="submit" asp-page-handler="DeleteSpecies" class="btn btn-danger">Dzēst sugu</button>
                </div>
            </div>
            <div id="dataListItem" class="col-md-4">
                <label class="control-label">Šķirne</label>
                <select name="speciesTypeId" class="form-control" asp-items="(Model
                    .SpeciesTypes
                    .GroupBy(t => t.Name)
                    .Select(g => g.First())
                    .Select(x => new SelectListItem {
                        Text = x.Name,
                        Value = x.Id,
                    })
                    .OrderBy(x => x.Text)
                    .AsEnumerable())">
                </select>
                <div style="padding-top: 1%; float: right">
                    <button id="delete-user-button" type="submit" asp-page-handler="DeleteSpeciesType" class="btn btn-danger">Dzēst šķirni</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row" style="padding: 1%">
        <div id="dataListItem" class="col-md-4">
            <form method="post">
                <input name="colourName" class="form-control" />
                <div style="padding-top: 1%; float: right">
                    <button id="delete-colour-button" type="submit" asp-page-handler="AddColour" class="btn btn-primary">Pievienot krāsu</button>
                </div>
            </form>
        </div>
        <div id="dataListItem" class="col-md-4">
            <form method="post">
                <input name="speciesName" class="form-control" />
                <div style="padding-top: 1%; float: right">
                    <button id="delete-species-button" type="submit" asp-page-handler="AddSpecies" class="btn btn-primary">Pievienot sugu</button>
                </div>
            </form>
        </div>
        <div id="dataListItem" class="col-md-4">
            <form method="post">
                <input name="speciesTypeName" class="form-control" />
                <input type="hidden" name="speciesId" class="form-control" value="@ViewData["SpeciesId"]" />
                <div style="padding-top: 1%; float: right">
                    <button id="delete-speciesType-button" type="submit" asp-page-handler="AddSpeciesType" class="btn btn-primary">Pievienot šķirni</button>
                </div>
            </form>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}