@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Ģenerē Divu-Soļu verifikācijas atjaunošanas kodus";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Saglabājiet kodus drošā vietā.</strong>
    </p>
    <p>
        Ja pazaudējat savu ierīci un jums nav atjaunošanas kodu, Jūs zaudēsiet pieeju savam profilam.
    </p>
    <p>
        Atjaunošanas kodu ģenerēšana nemainīs autentifikācijas aplikācijas izmantoto atslēgu. Ja vēlaties nomainīt
        atslēgu, kas izmantota Autenitifikācijas aplikācijā <a asp-page="./ResetAuthenticator">atjaunojiet savu autentifikācijas atslēgu.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Ģenerēt atjaunošanas kodus</button>
    </form>
</div>