@{
    ViewData["Title"] = "Reģistrēties";
}

<div class="text-center">
    <h1 class="display-4">Reģistrēties</h1>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Ienākt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Index">Reģistrēties</a>
        </li>
    </ul>
</div>