@{
    ViewData["Title"] = "Kontakti";
}

<div class="text-center">
    <h1 class="display-4">Kontakti!</h1>
    <div>
        <p>Patversmes nosakumus:</p>
        <p>Vārds, uzvārds:</p>
        <p>Tel:</p>
        <p>Adrese: </p>
        <p>Google maps links</p>
    </div>
</div>