@page
@model LockoutModel
@{
    ViewData["Title"] = "Atslēgts";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Šis profils ir atslēgts, vēlāk pamēģini velreiz.</p>
</header>