@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Reģistrācijas apstiprināšana";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        Lūdzu pārbaudi savu E-pastu, lai apstiprinātu savu profilu.
    </p>
}