@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Paroles nomaiņa apstiprināta";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tava parole tika nomainīta. Lūdzu <a asp-page="./Login">spied šeit, lai ienāktu.</a>
</p>